*.iml

AgendaPlusPlus/.gradle
AgendaPlusPlus/.idea
AgendaPlusPlus/gradle
AgendaPlusPlus/build
AgendaPlusPlus/app/build
AgendaPlusPlus/captures
AgendaPlusPlus/local.properties
AgendaPlusPlus/gradlew
AgendaPlusPlus/gradlew.bat
AgendaPlusPlus/.externalNativeBuild
AgendaPlusPlus/.DS_Store

AgendaServer/.gradle
AgendaServer/.idea
AgendaServer/gradle
AgendaServer/build
AgendaServer/out
AgendaServer/gradlew
AgendaServer/gradlew.bat
AgendaServer/src/main/resources/db.properties
